@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Submission";
}

@model Assignment3.Models.RestaurantForm

<div class="text-center">
    <h1 class="display-4">Thank you for your submission!</h1>
    <h4>@Model.RestaurantName has been added to the list.</h4>
    <p>Check out the list of restaurants <a asp-action="RestaurantList">here</a>!</p>
    <h6><a asp-action="AddMovie">Add Another Restaurant</a></h6>
</div>