@{
    ViewData["Title"] = "Top 5 Restaurants - Provo";
}

@model IEnumerable<string>

<div class="text-center">
    <h1 class="display-4">My Top Restaurants</h1>
</div>
<div class="col text-center">
    <ul class="list-group">
        @foreach (string i in Model)
        {
            <li class="list-group-item">@Html.Raw(i) </li>
        }
    </ul>
</div>