@{
    ViewData["Title"] = "My Podcasts";
    ViewBag.Title = "Baconsale";
}

<div class="text-center">
    <h1 class="display-4">Check out our Podcast!</h1>
    <button type="button" class="btn btn-secondary btn-lg"><a href="https://baconsale.com/">Our Podcast</a></button>
</div>
